body{
    background-color: hsl(0, 10%, 10%);
}
h1{
    color: hsl(271, 48%, 42%);
    text-align: center;
    text-shadow: 10px 10px 15px hsl(195, 78%, 48%), -5px -15px 15px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 3px;
    font-size:50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    color:rgb(163, 14, 197);
    text-indent: 50px;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: 4px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}
.buttons{
    background-color: hsl(202, 76%, 45%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 15px;
    border: 2px solid;
    padding: 10px;
    margin:-3px;
}